.snakemake*
.gedi*
.nv*
.cache*
.config*
logs/*
!logs/touch
main/wf_sequence/_data/*
main/wf_sequence/lightning_logs/*
!main/wf_sequence/_data/.gitkeep
.config/*
.cache/*
docs/benchplots/*.png
genomes/*
!genomes/.gitkeep
main/wf_sequence/model/*.ckpt
lightning_logs/*
notebooks
containers/image/*
!containers/image/.gitkeep
main/wf_sequence/workflow/profiles/user
main/wf_sequence/workflow/shell/Peptide-PRISM
main/wf_sequence/workflow/shell/Peptide-PRISM.zip
